header{
    background-color: #FAFAEB;
}
.form-control{
    background-color: #FAFAEB;
    border-radius: 20px;
    border-color    : #000;
    margin-left: 50px;
    width: 200px;
}
.nav-top ul li{
    list-style-type: none;
    display: inline-block;
    padding:20px 20px 10px 0px;
}
.nav-top ul li:hover{
    color: #2BA84A;
}
.nav-top ul li a{
    
    color: #2BA84A;
}
.nav-bottom ul li{
    list-style-type: none;
    display: inline-block;

}
.form-select{
    background-color: #FAFAEB;
    border: 0;

}
.nav-bottom{
    padding: 20px 0px;
}
.nav-bottom p{
    font-weight: lighter;
    font-size: 14px;
}
.menu {
    background-color: #2D3A3A;
    color: #fff;
}
/* top | right | bottom | left */
.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding:20px 20px 10px 0px;
}
.menu ul li a:hover{
    color:#2BA84A;
}
.menu ul li a{
   
   text-decoration: none;
   color: #fff;
}
.green-text{
    color:#2BA84A;

}
.home, .clients{
    background-color: #FAFAEB;
    padding: 100px 0px;
}
.home-left{
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 150px 0px;
    height: 462px;
    padding-top:100px;
}

.home-btn{
    background-color: #FF5F01;
    color: #fff;
    margin: 15px;
    width: auto;
    height: auto;
    border-radius: 20px 0px;  
}

.home-btn:hover{
    border-color: #FF5F01;
    color:#fff;
    transform: scale(1.04);  
   
}

.home-left a{
    color:#2BA84A;
}
.home-left h2{
    color:#2BA84A;
}

.bg_big{
    width: 291px;
    height: 324px;
    margin: 5px;
}
.bg {
    width: 292px;
    height: 156px;
    margin: 5px;
}
.bg:hover {
    transform: scale(1.04);
}
.bg_big:hover {
    transform: scale(1.04);
}
.bg,.bg_big p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}
.catalog{
    margin: 100px 0px;
}

.ar_img{
    height: 218px;
    width: 266px;
    margin: 10px;
    padding: 10px;
}

.ar_img:hover{
    transform: scale(1.04);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 20px 0px;
}
.ar_img h5{
    color:#2BA84A;
}
.advantages h2{
    color:#2BA84A;
}

.ar_img_pro{
    height: 400px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px 0px;
}

.ar_img_pro:hover{
    transform: scale(1.04);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color:#2BA84A;
   
}
.products, .advantages, .consultation, .desk{
    background-color: #F8F8F8;
    padding-top: 100px;
}
.text-orange{
    color: #FF5F01;
}
.products ul li{
    list-style-type: none;
    display: inline-block;
    padding:20px 20px 10px 0px;
    text-align: center;
}
.products ul li a{
   
   text-decoration: none;
   color: #fff;
}
.info{
    padding-top: 100px;
    background-color: #E4DFC2;
}




.info ul.info-ul li a{
   
   
   color: #fff;
}

.ar_img_cons{
    height: 95px;
    width: 119px;
    margin: 10px;
    padding: 10px;
    background-color: #2BA84A;
    border-radius: 0px 50px;
  
}

.ar_img_cons:hover{
    transform: scale(1.04);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    
}
.consultation ul li{
    list-style-type: none;
    display: inline-block;
    padding:20px 20px 10px 0px;
    text-align: center;
}
.consultation ul li a{
   
   text-decoration: none;
   color: #fff;
}

.consultation .btn-center{
    display: flex;
    justify-content: center;
}
.cons-btn{
    background-color: #FF5F01;
    color: #fff;
    margin: 15px;
    width: auto;
    height: auto;
    border-radius: 20px 0px;  
  
  
   
}

.cons-btn:hover{
    border-color: #FF5F01;
    color:#fff;
    transform: scale(1.04);  
   
}
.desk{
    padding: 50px;
}

footer{
    background-color: #2D3A3A;
    padding: 100px 100px ;
    color: #E5E5E5;
}
footer ul li{
    list-style-type: none;
    margin: 0px;
    
}footer ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    
}
footer a{
   
   
   color: #2BA84A;
}

